@charset "utf-8";
//
// sass template
//
@import "compass/reset/";
@import "compass";



p {
	@include border-radius(10px);
	font-size: 22px;
	color: #ff0000;
	&:nth-child(1){
		color:#ff0000;
	}
}

.bar{
	display: inline-block;
	width: 30px;
	height: 50px;
	background-color: #ff0000;
}



